<link rel="stylesheet" href="@{'/public/bootstrap/datapicker/css/datetimepicker.css'}"/>
<script type="text/javascript" src="@{'/public/bootstrap/datapicker/js/bootstrap-datetimepicker.js'}"></script>
<script type="text/javascript"
        src="@{'/public/bootstrap/datapicker/js/locales/bootstrap-datetimepicker.zh-CN.js'}"></script>
<div class="search-box" style="border-bottom: 1px solid #ccc;">
    <span>公司名称：<input type="text" class="form-control name"/></span>--
    <span>返点：<input class="form-control rebate"/></span>
    <span class="btn-box"><span class="button  button-rounded button-primary doSearch"><i
            class="glyphicon glyphicon-search"></i> 检索</span></span>
    <span class="btn-box"><span class="button button-rounded button-primary exportToExcel"><i
            class="glyphicon glyphicon-export"></i> 导出Excel</span></span>
</div>
<div class="records-container">

</div>
<script type="text/javascript" src="@{'/public/javascripts/manage/agents.js'}"></script>
