<!DOCTYPE html>

<html>
<head>
<title>#{get 'title' /}</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="@{'/public/handsontable/jquery-ui/css/ui-bootstrap/jquery-ui.custom.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/handsontable/jquery.handsontable.full.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/bootstrap/buttons/css/buttons.css'}" />
#{get 'moreStyles' /}
<script type="text/javascript" src="@{'/public/handsontable/jquery-ui/js/jquery-ui.custom.js'}"></script>
<script type="text/javascript" src="@{'/public/handsontable/jquery.handsontable.full.js'}"></script>

#{get 'moreScripts' /}
</head>
<body>#{doLayout /}
</body>
</html>