#{extends 'Manage/grid.html' /}

<link rel="stylesheet" href="@{'/public/bootstrap/datapicker/css/datetimepicker.css'}"/>
<link rel="stylesheet" href="@{'/public/stylesheets/tableJs.css'}"/>
<script type="text/javascript" src="@{'/public/bootstrap/datapicker/js/bootstrap-datetimepicker.js'}"></script>
<script type="text/javascript"
        src="@{'/public/bootstrap/datapicker/js/locales/bootstrap-datetimepicker.zh-CN.js'}"></script>
<div class="search-box">
<span>
    <b class="label">出单日期</b><span class="btn-group eq" data-toggle="buttons">
       <label class="btn btn-default">
           <input type="radio" name="options" id="option1" value=">"> &gt;
       </label>
       <label class="btn btn-default active">
           <input type="radio" name="options" id="option2" value="="> =
       </label>
       <label class="btn btn-default">
           <input type="radio" name="options" id="option3" value="<"> &lt;
       </label>
   </span><input type="text" class="form-control printDate input-right" style="border-left: none"/>

</span>
    <span><b class="label">客户</b><input class="form-control customer input-right"/></span>
    <span><b class="label">操作员</b><select class="form-control users input-right">
        <option value="-1">不限操作员</option>#{list managers,as:'m'}
        <option>${m.userName}</option>#{/list}</select></span>
    <span class="btn-box"><span class="button  button-rounded button-primary doSearch"><i
            class="glyphicon glyphicon-search"></i> 检索</span></span>
    <span class="btn-box"><span class="button button-rounded button-primary exportToExcel"><i
            class="glyphicon glyphicon-export"></i> 导出Excel</span></span>
</div>
<div class="records-container">
</div>
<script type="text/javascript" src="@{'/public/javascripts/manage/printRecords.js'}"></script>
